.Job {
    margin: 5px auto;
    width: 100%;
    text-align: left;
    border: 1px solid #eee;
    padding: 0 10px;
    box-sizing: border-box;
}

.Button {
    text-align: center;
}

.QuoteElement {
    margin: 6px;
}

.JobElement {
    margin: 3px;
}