.Main {
    width: 100%;
    box-sizing: border-box;
}

.SideNav {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 20px 0;
    height: 100%;
    border: 1px solid #eee;
}

.MainBody {
    margin-left: 200px;
}

.QuoteHeader {
    display: flex;
    flex-direction: row;
}

.HeaderElement {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* @media (min-width: 600px) {
    .HeaderElement {
        width: 100%
    }
} */
