.NewQuote {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    width: 80%;
    text-align: center;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

@media (min-width: 600px) {
    .NewQuote {
        width: 500px
    }
}

.Form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.InputField {
    display: flex;
    flex-direction: column;
    width: 40%;
}