.Quotes {
    margin: 20px auto;
    width: 100%;
    text-align: left;
    border: 1px solid #eee;
    padding: 0 10px;
    box-sizing: border-box;
}

/* @media (min-width: 600px) {
    .Quotes {
        width: 500px
    }
} */

.QuoteHeader {
    display: flex;
    flex-direction: row;
    padding: 0 5px;
    margin: 10px 0;
    border-bottom: 3px solid #eee;
    font-size: large;
    font-weight: bold;
}
.QuoteHeader p {
    width: 200px;
}

.Quote {
    display: flex;
    flex-direction: row;
    padding: 0 5px;
    margin: 10px 0;
    border: 1px solid #eee;
    cursor: pointer;
}

.Quote p {
    width: 200px;
}

.Element {
    margin: 3px;
    overflow: hidden;
}

.Heading {
    text-align: center;
    padding: 10px;
}