.Quotes {
    margin: 20px auto;
    width: 100%;
    text-align: left;
    border: 1px solid #eee;
    padding: 0 10px;
    box-sizing: border-box;
}

/* @media (min-width: 600px) {
    .Quotes {
        width: 500px
    }
} */

.QuoteHeader {
    display: flex;
    flex-direction: row;
    padding: 0 5px;
    margin: 10px 0;
    border-bottom: 3px solid #eee;
    font-size: large;
    font-weight: bold;
}
.QuoteHeader p {
    width: 200px;
}

.Quote {
    display: flex;
    flex-direction: row;
    padding: 0 5px;
    margin: 10px 0;
    border: 1px solid #eee;
    cursor: pointer;
}

.Quote p {
    width: 200px;
}

.Element {
    margin: 3px;
    overflow: hidden;
}

.Heading {
    text-align: center;
    padding: 10px;
}

/* ----------LIST----------- */

.list {
    padding: 0;
    box-sizing: border-box;
    margin-top: 8px;
}

.listItem {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 1px;
    border-bottom: 1px solid #eee;
    width: 100%;
}

.listItem p {
    width: 200px;
}

.listElement {
    margin: 0 2px;
    padding: 2px 0;
    border-right: 1px solid #eee;
}

.listElementEnd {
    margin: 0 2px;
    padding: 2px 0;
}

.ListQuoteHeader {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 1px;
    border-bottom: 4px solid #eee;
    width: 100%;
    padding-left: 0;
}

.headerListItem {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 1px;
    width: 100%;
}

.headerListItem p {
    width: 200px;
}

.FilteredClientName {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 2px solid #eee;
    width: 100%;
    font-size: large;
    font-weight: bold;
}

.Filters {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}