.JobFormUnit {
    display: flex;
    flex-direction: column;
}

.JobFormElement {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.jobDetails { /* via [jobElement.id] */
    width: calc(100% - 250px);
}

.jobId { /* via [jobElement.id] */
    width: 250px;
}

.AddNewButton {
    display: inline-block;
}

.ExistingJobElement {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.CurrentWorkingJob {
    display: flex;
    flex-direction: row;
}