.Job {
    margin: 0 10px;
    width: 80%;
    display: flex;
    text-align: left;
}

.Text {
    display: inline-block;
    margin: 20px;
}

.Buttons {
    text-align: right;
    display: block;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
    align-items: flex-end;
}